@import "./variables.css";

html,
body {
  margin: 0;
  padding: 0;
}

.App {
  height: 100dvh;
  background-color: var(--background-main);
  color: var(--text-primary);
  transition: background-color 0.3s ease, color 0.3s ease;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;

  align-items: flex-end;
  background-color: var(--background-header);
  box-sizing: border-box;
  height: 13vh;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 12px;
  flex: 1 1 auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.main::-webkit-scrollbar {
  display: none;
}

.home-loading-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .main {
    overflow-y: auto;
  }
}
