@import "./variables.css";

html,
body {
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
  background-color: var(--background-main);
  color: var(--text-primary);
  padding: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: flex-end;
  margin: -20px;
  margin-bottom: 66px;
  background-color: var(--background-header);
  box-sizing: border-box;
  height: 13vh;
}

@media (max-width: 768px) {
  .header {
    height: 16vh;
  }
}
