:root {
  /* Light Theme Colors */
  --light-background-header: #ffe3c1;
  --light-background-main: #fffaf3; /* Floral White */
  --light-background-secondary: #f6f6f6;
  --light-background-card: #fff3dc; /* Light Cream */
  --light-background-price: #ffda9e;
  --light-background-cart: #dee3ff;
  --light-background-hover: #e9ebf5;
  --light-background-category-title: #e4f5f2;
  --light-background-category: #eaf9f7;
  --light-background-category-selected: #a2f2e4;
  --light-text-primary: #3e2723; /* Deep Brown */
  --light-text-secondary: #5d4037; /* Medium Brown */
  --light-text-white: #fff;
  --light-primary: #ff7043; /* Softer Deep Orange */
  --light-primary-dark: #e64a19;
  --light-remove-from-cart-hover: #fb6262;
  --light-remove-from-cart: #f44336;
  --light-add-to-cart-hover: #3dc298;
  --light-add-to-cart: #4caf50;
  --light-border: #cfcfcf;
  --light-action-orange: #ffb74d; /* Amber */
  --light-action-orange-dark: #fb8c00;
  --light-action-orange-darker: #f57c00;
  --light-action-orange-darkest: #ef6c00;
  --light-action-orange-deep: #d84315;
  --light-success: #4caf50;
  --light-error: #ef5350;
  --light-order-toast: #ff6f61;
  --light-progress-bar: #81c784;
  --light-summary: antiquewhite;

  /* Dark Theme Colors */
  --dark-background-header: #003c36;
  --dark-background-main: #212b36;
  --dark-background-secondary: #38495d;
  --dark-background-card: #2b353c;
  --dark-background-cart: #1f2933;
  --dark-background-price: #002b4f;
  --dark-background-hover: #3a4551;
  --dark-background-category-title: #1d4d47;
  --dark-background-category: #2f6d69;
  --dark-background-category-selected: #355f85;
  --dark-text-primary: #e0d7d2;
  --dark-text-secondary: #cccccc;
  --dark-text-white: #ffffff;
  --dark-primary: #e97451;
  --dark-primary-dark: #bf360c;
  --dark-remove-from-cart: #ff5c5c;
  --dark-remove-from-cart-hover: #fb6262;
  --dark-add-to-cart-hover: #36b089;
  --dark-add-to-cart: #3dc298;
  --dark-border: #4a5568;
  --dark-action-orange: #f89d51;
  --dark-action-orange-dark: #dc7733;
  --dark-action-orange-darker: #c05a2c;
  --dark-action-orange-darkest: #9e4b1d;
  --dark-action-orange-deep: #7e3411;
  --dark-success: #3dc298;
  --dark-error: #ff6b6b;
  --dark-order-toast: #ff7a6c;
  --dark-progress-bar: #00bfa5;
  --dark-summary: #2e3c40;

  /* Default theme variables */
  --background-header: var(--light-background-header);
  --background-main: var(--light-background-main);
  --background-secondary: var(--light-background-secondary);
  --background-card: var(--light-background-card);
  --background-price: var(--light-background-price);
  --background-cart: var(--light-background-cart);
  --background-hover: var(--light-background-hover);
  --background-category-title: var(--light-background-category-title);
  --background-category: var(--light-background-category);
  --background-category-selected: var(--light-background-category-selected);
  --text-primary: var(--light-text-primary);
  --text-secondary: var(--light-text-secondary);
  --text-white: var(--light-text-white);
  --primary: var(--light-primary);
  --primary-dark: var(--light-primary-dark);
  --add-to-cart: var(--light-add-to-cart);
  --add-to-cart-hover: var(--light-add-to-cart-hover);
  --remove-from-cart: var(--light-remove-from-cart);
  --remove-from-cart-hover: var(--light-remove-from-cart-hover);
  --border: var(--light-border);
  --action-orange: var(--light-action-orange);
  --action-orange-dark: var(--light-action-orange-dark);
  --action-orange-darker: var(--light-action-orange-darker);
  --action-orange-darkest: var(--light-action-orange-darkest);
  --action-orange-deep: var(--light-action-orange-deep);
  --success: var(--light-success);
  --error: var(--light-error);
  --order-toast: var(--light-order-toast);
  --progress-bar: var(--light-progress-bar);
  --summary: var(--light-summary);
}

/* Dark theme override */
[data-theme="dark"] {
  --background-header: var(--dark-background-header);
  --background-main: var(--dark-background-main);
  --background-secondary: var(--dark-background-secondary);
  --background-card: var(--dark-background-card);
  --background-price: var(--dark-background-price);
  --background-cart: var(--dark-background-cart);
  --background-hover: var(--dark-background-hover);
  --background-category-title: var(--dark-background-category-title);
  --background-category: var(--dark-background-category);
  --background-category-selected: var(--dark-background-category-selected);
  --text-primary: var(--dark-text-primary);
  --text-secondary: var(--dark-text-secondary);
  --text-white: var(--dark-text-white);
  --primary: var(--dark-primary);
  --primary-dark: var(--dark-primary-dark);
  --add-to-cart: var(--dark-add-to-cart);
  --add-to-cart-hover: var(--dark-add-to-cart-hover);
  --remove-from-cart: var(--dark-remove-from-cart);
  --remove-from-cart-hover: var(--dark-remove-from-cart-hover);
  --border: var(--dark-border);
  --action-orange: var(--dark-action-orange);
  --action-orange-dark: var(--dark-action-orange-dark);
  --action-orange-darker: var(--dark-action-orange-darker);
  --action-orange-darkest: var(--dark-action-orange-darkest);
  --action-orange-deep: var(--dark-action-orange-deep);
  --success: var(--dark-success);
  --error: var(--dark-error);
  --order-toast: var(--dark-order-toast);
  --progress-bar: var(--dark-progress-bar);
  --summary: var(--dark-summary);
}
