.theme-toggle {
  padding: 10px;
  border: none;
  border-radius: 50%;
  background-color: var(--toggle-theme-background);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.theme-toggle svg {
  font-size: 1.1em;
}

/* Sun icon color */
[data-theme="dark"] .theme-toggle svg {
  color: var(--action-orange);
}

/* Moon icon color */
[data-theme="light"] .theme-toggle svg {
  color: var(--primary);
}

.theme-toggle:hover {
  transform: scale(1.1);
  background-color: var(--background-hover);
}

.theme-toggle:active {
  transform: scale(0.95);
}

@media screen and (max-width: 768px) {
  .theme-toggle {
    width: 20px;
    height: 20px;
  }
}
