.collection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.collection-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.collection-title {
    color: var(--light-text-primary);
    margin-bottom: 20px;
}

.category-filter {
    padding: 10px 20px;
    margin: 5px;
    border-radius: 25px;
    font-size: 1em;
    font-weight: 500;
    border: 2px solid var(--light-primary);
    background: transparent;
    color: var(--light-text-primary);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    outline: none;
    min-width: 140px;
}

.category-filter:hover {
    border-color: var(--light-primary-dark);
    background-color: var(--light-background-card);
}

.category-filter:active {
    border-color: var(--light-primary-darker);
}

/* Style for the dropdown options */
.category-filter option {
    padding: 10px;
    background-color: white;
    color: var(--light-text-primary);
}