.bar-container,
.mini-bar-container {
  position: relative;
  background-color: grey;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  height: 35px;
}

.mini-bar-container {
  height: 3px;
}

.bar-container .bar-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
  text-align: center;
}

.bar,
.mini-bar {
  background-color: var(--success);
  height: 100%;
  width: 0;
}
