.carousel-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px auto;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(91, 107, 191, 0.1);
    width: auto;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .carousel-container {
        margin: 0;
        padding: 0;
    }
}