.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-primary);
  padding: 20px 40px;
  margin-top: auto;
  background-color: var(--background-header);
}

.footer-links {
  display: flex;
  gap: 10px;
}

.footer-links p {
  cursor: pointer;
}

.footer-links p:hover {
  text-decoration: underline;
  color: var(--primary);
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    padding: 0;
  }
}
