.cart-container {
    position: relative;
}

.cart-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    background-color: var(--light-primary);
    color: var(--light-text-white);
    cursor: pointer;
    transition: background-color 0.2s;
}

.cart-button:hover {
    background-color: var(--light-primary-dark);
}

.cart-button:active {
    background-color: var(--light-primary-darker);
}

.cart-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: var(--light-background-cart);
    top: 100%;
    left: -118px;
    overflow-y: auto;   
    z-index: 1000;  
    box-shadow: 0 4px 12px rgba(91, 107, 191, 0.15);  /* Purple-tinted shadow */
    border-radius: 8px;
    padding: 0.3rem;
    width: 330px;
}

.cart-dropdown > * {
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.has-items {
    height: 85vh;
}

.close-button {
    position: absolute;
    right: 25px;
    top: 22px;
    background: none;
    font-size: 18px;
    color: var(--light-primary);
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 4px;
    border: 2px solid var(--light-primary);
    transition: all 0.2s ease-in-out;
}

.close-button:hover {
    background-color: var(--light-background-hover);
}

.checkout-button {
    background-color: var(--light-action-orange-darker);
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    width: 90%;
    margin: 15px 0;
    transition: all 0.2s ease;
}

.checkout-button:hover {
    background-color: var(--light-action-orange-darkest);
}

.checkout-button:active {
    background-color: var(--light-action-orange-deep);
    transform: scale(0.98);
}

.total-price {
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0;
    color: var(--light-primary);
    font-family: 'Inter', sans-serif
}

/* Mobile styles */
@media screen and (max-width: 768px) {
    .cart-dropdown {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 90vh;
        box-shadow: none; 
        box-sizing: border-box;
    }
}
