.search-item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 8px;
  margin: 6px;
  border-radius: 8px;
  background-color: var(--background-secondary);
  border: 1.5px solid var(--border);
  box-shadow: 0 2px 4px rgba(91, 107, 191, 0.1);
}

.search-item-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  z-index: 1000;
}

.full-size-image {
  max-width: 90%;
  max-height: 90%;
  border-radius: 8px;
}

.search-item-details {
  flex: 1;
  min-width: 0;
  padding-right: 8px;
}

.search-item h4 {
  font-size: 15px;
  font-weight: 500;
  color: var(--text-primary);
  margin: 0 0 2px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: -0.01em;
  line-height: 1.4;
}

.search-item-price {
  font-size: 14px;
  margin: 0;
  color: var(--text-secondary);
  font-weight: 600;
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: var(--background-card);
  padding: 5px 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-item-quantity {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-left: auto;
}

.search-item-quantity-button {
  width: 35px;
  height: 35px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-primary);
  color: var(--light-text-white);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 25px;
}

.search-item-quantity-button.red {
  background-color: var(--remove-from-cart);
}

.search-item-quantity-button.red.disabled {
  opacity: 0.5;
}

.search-item-quantity-button.green {
  background-color: var(--add-to-cart);
}

.search-item-quantity-button.red:hover {
  background-color: var(--remove-from-cart-hover);
}

.search-item-quantity-button.green:hover {
  background-color: var(--add-to-cart-hover);
}
