.price-breakdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--summary);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(91, 107, 191, 0.1);
}

.price-breakdown h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.price-breakdown p {
  font-size: 16px;
  margin-bottom: 5px;
}

.price-breakdown span {
  font-weight: 600;
}
