.title {
  color: var(--text-primary);
  margin-top: 60px;
  font-size: 1.7rem;
  font-weight: 600;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  width: fit-content;
}

.title:hover {
  color: var(--primary);
  transform: scale(0.99);
}
