.title-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 15px;
}

.title {
  color: var(--text-primary);
  font-size: 1.7rem;
  font-weight: 600;
  text-align: center;
  margin: 0;
  cursor: pointer;
}

.title:hover {
  color: var(--text-secondary);
  transform: scale(0.99);
}
