.register-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  box-sizing: border-box;
  width: fit-content;
  margin: 0 auto;
}

.register-form input {
  font-size: 1.2rem;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 300px;
}

.register-button {
  padding: 10px;
  margin: 10px;
}

.register-button:hover {
  cursor: pointer;
}

.register-button:focus {
  border: 1px solid var(--primary);
}

.register-button:active {
  border: 1px solid var(--primary);
}

a {
  color: var(--ahref-link);
}

a:hover {
  color: var(--primary);
}

a:focus {
  border: 1px solid var(--primary);
}

a:active {
  border: 1px solid var(--primary);
}

@media screen and (max-width: 600px) {
  .register-form {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .register-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
